html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  margin: 0;
}

body {
  font-family: 'Nanum Gothic Coding', monospace;
}

.menubar {
  display: flex;
  width: 97%;
  margin: 10px;
  padding: 10px;
  font-family: 'Nanum Gothic Coding', monospace;
  text-align: center;
  flex-direction: row;
  background-color: rgba(144, 184, 124, 0.2);
  border-radius: 60px;
}

.menu1{
  display: flex;
  width: 100%;
  margin: 10px;
  padding: 10px;
  font-family: 'Nanum Gothic Coding', monospace;
}

.menu2{
  display: flex;
  width: 100%;
  margin: 7px;
  padding: 15px;
  font-family: 'Nanum Gothic Coding', monospace;
}

.menu3{
  display: flex;
  width: 100%;
  margin: 7px;
  padding: 15px;
  font-family: 'Nanum Gothic Coding', monospace;
}

.menu4{
  display: flex;
  width: 100%;
  margin: 7px;
  padding: 15px;
  font-family: 'Nanum Gothic Coding', monospace;
}

.menu-item {
  padding: 10px;
  cursor: pointer;
}

.menu-item a {
  text-align: center;
  text-decoration: none;
  color: rgba(115, 146, 100, 1.0);
}

.button1 {
  border: 0;
  background-color:#90B77D;
  border-radius: 30px;
  font: 17px Nanum Gothic Coding;
  color: #FFFFFF;
  width: 160;
  height: 50;
  margin: 10px;
}

.button2 {
  all: unset;
  margin: 10px;
  font: 17px Nanum Gothic Coding;
  color: #90B77D;
}

.box1{
  background-color: #E9F1E5;
  width: 80%;
  height: 90%;
  margin-top: 5%;
  margin-left: 9%;
  border-radius: 20px;
}

.box2{
  background-color: white;
  width: 40%;
  height: 83%;
  border-radius: 20px;
  margin-left: 11%;
  margin-top: -49%;
}

.box3{
  background-color: white;
  width: 85%;
  height: 99.5%;
  border-radius: 20px;
  margin-left: 104%;
  margin-top: -30%;
}

.nam{
  margin-top: 6%;
  margin-left: 60%;
}

.na{
  margin-left: 15%;
  margin-top: 16%;
}

.large-font{
  font-size: xx-large;
}
.top-20{
  position:relative;
  top: 10vh;
}
ion-icon.active{
  animation:like 0.5s 1;
  fill:red;
  stroke: none;
}
ion-icon{
  fill:transparent;
  stroke:black;
  stroke-width:30;
  transition:all 0.5s;
}

@keyframes like {
  0%   { transform: scale(1); }
  90%   { transform: scale(1.2); }
  100% { transform: scale(1.1); }
}

.title{
  font-size: 35px;
  margin-left: 4%;
}

.tree{
  width: 70%;
  height: 50%;
  border: 3px solid green;
  border-radius: 50% 50% 0px 0px;
  text-align: center;
  margin-left: 15%;
}

.nam{
  width: 70%;
  height: 30%;
  border: 3px solid green;
  margin-left: 15%;
}