    #logo-main img {
        display: block;
        width: 541px;
        height: 187px;
        top: 0px;
        margin: auto;
        background: url(slogon.jpg);
    }
    
    body {
        font-family: 'Nanum Gothic Coding', monospace;
    }
    
    .menu-main {
        font-family: 'Nanum Gothic Coding', monospace;
        text-align: center;
    }
    /* Rectangle 111 */
    
    .menu-main {
        box-sizing: border-box;
        position: absolute;
        display: block;
        margin: auto;
        max-width: 966px;
        max-height: 47px;
        left: 88px;
        top: 195px;
        background: rgba(144, 184, 124, 0.2);
        border-radius: 30px;
    }
    
    .login {
        position: absolute;
        width: 202px;
        height: 67px;
        left: 1054px;
        top: 183px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 150.5%;
        /* or 30px */
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: -0.02em;
        color: #739264;
    }
    
    .main1 {
        /* 메인1 */
        position: relative;
        width: auto;
        height: 1024px;
        left: 0px;
        top: 265px;
        border: 100px solid #E9F1E5;
    }
    
    .main1-in {
        width: auto;
        max-height: 50%;
        text-align: center;
    }
    
    .mainTitle {
        position: relative;
        text-align: left;
        font-weight: 800;
        font-size: 48px;
        line-height: 150.5%;
        /* or 72px */
        display: flex;
        margin: auto;
        padding: 10%;
        align-items: center;
        text-align: right;
        letter-spacing: -0.02em;
        color: #000000;
    }
    
    .mainMent {
        /* Travel With ecO의 약자이면서 함께한다(Together)는 의미로 환경과 함께, 이용자와 함께, 모두가 공존하는 여행이 될 수 있도록 도와주는 서비스입니다. */
        position: absolute;
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 150.5%;
        /* or 36px */
        display: flex;
        align-items: center;
        text-align: right;
        letter-spacing: -0.02em;
        color: #000000;
    }
    
    .main2 {
        position: relative;
        width: auto;
        height: 1024px;
        left: 0px;
        top: 265px;
        border: 100px solid #90B77d;
    }
    
    .main3 {
        position: relative;
        width: auto;
        height: 1024px;
        left: 0px;
        top: 265px;
        border: 100px solid #42855b;
    }