#logo-main img {
    display: block;
    width: 541px;
    height: 187px;
    top: 0px;
    margin: auto;
    background: url(slogon.jpg);
}

body {
    font-family: 'Nanum Gothic Coding', monospace;
}

.menu-main {
    font-family: 'Nanum Gothic Coding', monospace;
    text-align: center;
}


/* Rectangle 111 */

.menu-main {
    box-sizing: border-box;
    position: absolute;
    display: block;
    margin: auto;
    max-width: 966px;
    max-height: 47px;
    left: 88px;
    top: 195px;
    background: rgba(144, 184, 124, 0.2);
    border-radius: 30px;
}