    #logo-main img {
        display: block;
        width: 541px;
        height: 187px;
        top: 0px;
        margin: auto;
        background: url(slogon.jpg);
    }
    
    body {
        font-family: 'Nanum Gothic Coding', monospace;
    }
    
    .menu-main {
        font-family: 'Nanum Gothic Coding', monospace;
        text-align: center;
    }
    
    .button1 {
        border: 0;
        background-color: #90B77D;
        border-radius: 30px;
        font: 17px Nanum Gothic Coding;
        color: #FFFFFF;
        width: 160;
        height: 50;
        margin: 10px;
    }
    
    .button2 {
        all: unset;
        margin: 10px;
        font: 17px Nanum Gothic Coding;
        color: #90B77D;
    }
    
    .menubar {
        display: flex;
        width: 97%;
        margin: 10px;
        padding: 10px;
        font-family: 'Nanum Gothic Coding', monospace;
        text-align: center;
        flex-direction: row;
        background-color: rgba(144, 184, 124, 0.2);
        border-radius: 60px;
    }
    
    .menu1 {
        display: flex;
        width: 100%;
        margin: 10px;
        padding: 10px;
        font-family: 'Nanum Gothic Coding', monospace;
    }
    
    .menu2 {
        display: flex;
        width: 100%;
        margin: 7px;
        padding: 15px;
        font-family: 'Nanum Gothic Coding', monospace;
    }
    
    .menu3 {
        display: flex;
        width: 100%;
        margin: 7px;
        padding: 15px;
        font-family: 'Nanum Gothic Coding', monospace;
    }
    
    .menu4 {
        display: flex;
        width: 100%;
        margin: 7px;
        padding: 15px;
        font-family: 'Nanum Gothic Coding', monospace;
    }
    /* Rectangle 111 */
    
    .login {
        position: absolute;
        width: 202px;
        height: 67px;
        left: 1054px;
        top: 183px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 150.5%;
        /* or 30px */
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: -0.02em;
        color: #739264;
    }
    
    .main1 {
        /* 메인1 */
        position: relative;
        width: auto;
        height: 1024px;
        left: 0px;
        top: 265px;
        border: 100px solid #E9F1E5;
    }
    
    .main1-in {
        width: auto;
        text-align: center;
        margin: 20px;
    }
    
    .main1-leftbox {
        float: left;
        width: 50%;
        margin-top: 50px;
    }
    
    .mainTitle {
        position: relative;
        font-weight: 800;
        font-size: 55px;
        /* or 72px */
        display: flex;
        text-align: right;
        color: #000000;
        justify-content: flex-end;
        margin-bottom: 50px;
        margin-left: 10%;
        margin-right: 10px;
    }
    
    .mainMent {
        /* Travel With ecO의 약자이면서 함께한다(Together)는 의미로 환경과 함께, 이용자와 함께, 모두가 공존하는 여행이 될 수 있도록 도와주는 서비스입니다. */
        position: relative;
        font-style: normal;
        font-weight: 400;
        font-size: 35px;
        /* or 36px */
        display: flex;
        text-align: right;
        color: #000000;
        padding-left: 50px;
        margin-right: 10px;
    }
    
    .or {
        color: #E38948;
    }
    
    .gr {
        color: #42855B;
    }
    
    .main1-rightbox {
        float: right;
        width: 50%;
        margin-top: 50px;
    }
    
    .hand {
        width: 500px;
        height: 520px;
        position: relative;
        display: block;
        margin-left: auto;
        margin: 0px 0px 0px 50px;
    }
    
    .main2 {
        position: relative;
        width: auto;
        height: 1024px;
        left: 0px;
        top: 265px;
        border: 100px solid #90B77d;
    }
    
    .main3 {
        position: relative;
        width: auto;
        height: 1024px;
        left: 0px;
        top: 265px;
        border: 100px solid #42855b;
    }
    
    .qment {
        font-size: 85px;
        text-align: center;
        margin-top: 50px;
        margin-bottom: 30px;
        font-weight: 700;
    }
    
    .question {
        font-size: 70px;
        font-weight: 700;
        margin-top: 100px;
        margin-bottom: 10px;
    }
    
    .firstq {
        text-align: left;
        padding: 10px;
        margin-left: 30px;
    }
    
    .secondq {
        text-align: right;
        padding: 10px;
        margin-right: 30px;
    }
    
    .thirdq {
        text-align: left;
        padding: 10px;
        margin-left: 30px;
    }
    
    .main3-ment {
        background-color: #90b77d81;
        border-radius: 30px;
        text-align: left;
        font-size: 50px;
        font-weight: 800;
        margin: 5% 20% 5% 20%;
        padding: 20px;
    }
    
    .main3-ment2 {
        font-size: 30px;
    }