html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    margin: 0;
}

body {
    font-family: 'Nanum Gothic Coding', monospace;
}

.menubar {
    display: flex;
    width: 97%;
    margin: 10px;
    padding: 10px;
    font-family: 'Nanum Gothic Coding', monospace;
    text-align: center;
    flex-direction: row;
    background-color: rgba(144, 184, 124, 0.2);
    border-radius: 60px;
}

.menu1 {
    display: flex;
    width: 100%;
    margin: 10px;
    padding: 10px;
    font-family: 'Nanum Gothic Coding', monospace;
}

.menu2 {
    display: flex;
    width: 100%;
    margin: 7px;
    padding: 15px;
    font-family: 'Nanum Gothic Coding', monospace;
}

.menu3 {
    display: flex;
    width: 100%;
    margin: 7px;
    padding: 15px;
    font-family: 'Nanum Gothic Coding', monospace;
}

.menu4 {
    display: flex;
    width: 100%;
    margin: 7px;
    padding: 15px;
    font-family: 'Nanum Gothic Coding', monospace;
}

.menu-item {
    padding: 10px;
    cursor: pointer;
}

.menu-item a {
    text-align: center;
    text-decoration: none;
    color: rgba(115, 146, 100, 1.0);
}

.button1 {
    border: 0;
    background-color: #90B77D;
    border-radius: 30px;
    font: 17px Nanum Gothic Coding;
    color: #FFFFFF;
    width: 160;
    height: 50;
    margin: 10px;
}

.button2 {
    all: unset;
    margin: 10px;
    font: 17px Nanum Gothic Coding;
    color: #90B77D;
}

.box1 {
    background-color: #E9F1E5;
    display: flex;
    margin: 0 auto;
    border-radius: 20px;
    width: 100%;
    height: auto;
}

.box2 {
    float: left;
    width: 50%;
    margin: 20px;
    position: relative;
    display: block;
    background-color: white;
    border-radius: 20px;
    /*width: 650px;
    height: 930px;
    
    margin-left: 11%;
    margin-top: -57%;*/
    overflow: auto;
}

.box3 {
    float: right;
    width: 50%;
    margin: 20px;
    position: relative;
    display: block;
    background-color: white;
    border-radius: 20px;
    padding: 10px;
    /*width: 600px;
    height: 890px;
    margin-left: 52%;
    margin-top: -55%;
    padding-top: 2em;*/
}

.box1::after {
    content: "";
    display: block;
    clear: both;
}

.na {
    margin-left: 15%;
    margin-top: 16%;
}

.large-font {
    font-size: xx-large;
}

.top-20 {
    position: relative;
    top: 2vh;
    margin-top: 1.2em;
}

ion-icon.active {
    animation: like 0.5s 1;
    fill: red;
    stroke: none;
}

ion-icon {
    fill: transparent;
    stroke: black;
    stroke-width: 30;
    transition: all 0.5s;
}

@keyframes like {
    0% {
        transform: scale(1);
    }
    90% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1.1);
    }
}

.title {
    font-size: 35px;
    margin-left: 4%;
}

.tree {
    position: absolute;
    display: block;
    width: 100%;
    height: 450px;
    border: 3px solid green;
    border-radius: 50% 50% 0px 0px;
}

.nam {
    display: block;
    position: absolute;
    width: 100%;
    height: 310px;
    border: 3px solid green;
}

.title {
    position: relative;
    top: 3%;
}

.textBox {
    position: relative;
    top: 7%;
    left: 5%;
}

.n {
    position: relative;
    top: 1.5em;
}

.g {
    line-height: 5vh;
    position: relative;
    top: 1.7em;
}

ul {
    list-style: none;
    font-size: 30px;
}

.item--add,
.item--delete {
    cursor: pointer;
}

.item--add--icon {
    cursor: pointer;
    font-size: 30px;
    position: relative;
    margin-top: 50px;
}

.item--check {
    transform: scale(1.5);
    margin-right: 6px;
}


/*쓰레기통 아이콘*/

.item--delete {
    font-size: 30px;
    margin-left: 0.5em;
}


/*리스트 작성란*/

.item--title {
    font-size: 31px;
    color: black;
}


/*하트 아이콘*/

.item--heart {
    position: relative;
    margin-left: -1.22em;
    margin-top: 0.5em;
    top: 1.3em;
    font-size: 32px;
}

li {
    margin-top: -0.5em;
}