body {
    text-align: center;
    background-color: #EBECF0;
    font-family: 'Noto Sans KR', sans-serif;
}

nav {
    margin: 0 auto;
}

.menubar {
    display: flex;
    width: 97%;
    margin: 10px;
    padding: 10px;
    font-family: 'Noto Sans KR', monospace;
    font-size: 25px;
    font-weight: 900;
    text-align: center;
    flex-direction: row;
    background-color: rgba(144, 184, 124, 0.2);
    border-radius: 60px;
}

span>a {
    color: #739264;
    text-decoration: none;
}

.before {
    display: block;
    float: left;
    align-content: center;
    margin: 30px;
}

.beforebtn {
    border: 0;
    font-size: 40px;
    color: #616161;
    border-radius: 30px;
    background-color: transparent;
}

.menu1 {
    display: flex;
    width: 100%;
    margin: 10px;
    padding: 10px;
    font-family: 'Noto Sans KR', monospace;
}

.menu2 {
    display: flex;
    width: 100%;
    margin: 7px;
    padding: 15px;
    font-family: 'Noto Sans KR', monospace;
}

.menu3 {
    display: flex;
    width: 100%;
    margin: 7px;
    padding: 15px;
    font-family: 'Noto Sans KR', monospace;
}

.menu4 {
    display: flex;
    width: 100%;
    margin: 7px;
    padding: 15px;
    font-family: 'Noto Sans KR', monospace;
}

.button1 {
    border: 0;
    background-color: #90B77D;
    border-radius: 30px;
    font: 17px Nanum Gothic Coding;
    color: #FFFFFF;
    width: 160;
    height: 50;
    margin: 10px;
}

.button2 {
    all: unset;
    margin: 10px;
}

.button2 {
    font: 17px Nanum Gothic Coding;
    color: #90B77D;
}

.container {
    background-color: white;
    align-content: center;
    padding: 10px;
    max-width: 700px;
    text-align: center;
    margin: 0 auto;
}

.user {
    font-size: 20px;
    text-decoration: underline;
}

input[type="text"] {
    padding: 2px;
    font-size: 20px;
    background-color: #F2F2F2;
    border: 1.5px #F2F2F2;
    border-radius: 10px;
    width: 500px;
    height: 50px;
    box-sizing: border-box;
}

input[type="password"] {
    padding: 2px;
    font-size: 20px;
    background-color: #F2F2F2;
    border: 1.5px #F2F2F2;
    border: none;
    width: 500px;
    border-radius: 10px;
    height: 50px;
    box-sizing: border-box;
}

.find {
    font-size: 20px;
}

.log {
    font-size: 20px;
    background-color: #42855B;
    border: none;
    border-radius: 10px;
    height: 42px;
    width: 400px;
    font-weight: bolder;
    color: white;
}

.logka {
    font-size: 20px;
    background-color: #F6D875;
    border: none;
    width: 400px;
    border-radius: 10px;
    height: 42px;
    font-weight: bolder;
}

.text {
    font-weight: bold;
}

.kakao-login-btn {
    margin: 10px;
}

.login-btn {
    margin: 20px;
}

footer {
    bottom: 0;
}

.foot {
    font-size: 15px;
}