    html,
    body {
        margin: 0;
        padding: 0;
        height: 100%;
    }
    
    body {
        margin: 0;
    }
    
    body {
        font-family: 'Noto Sans KR', monospace;
    }
    
    span>a {
        color: #739264;
        text-decoration: none;
    }
    
    .menubar {
        display: flex;
        width: 97%;
        margin: 10px;
        padding: 10px;
        font-family: 'Noto Sans KR', monospace;
        font-size: 25px;
        font-weight: 900;
        text-align: center;
        flex-direction: row;
        background-color: rgba(144, 184, 124, 0.2);
        border-radius: 60px;
    }
    
    .menu1 {
        display: flex;
        width: 100%;
        margin: 10px;
        padding: 10px;
        font-family: 'Noto Sans KR', monospace;
    }
    
    .menu2 {
        display: flex;
        width: 100%;
        margin: 7px;
        padding: 15px;
        font-family: 'Noto Sans KR', monospace;
    }
    
    .menu3 {
        display: flex;
        width: 100%;
        margin: 7px;
        padding: 15px;
        font-family: 'Noto Sans KR', monospace;
    }
    
    .menu4 {
        display: flex;
        width: 100%;
        margin: 7px;
        padding: 15px;
        font-family: 'Noto Sans KR', monospace;
    }
    
    .menu-item {
        padding: 10px;
        cursor: pointer;
    }
    
    .menu-item a {
        text-align: center;
        text-decoration: none;
        color: rgba(115, 146, 100, 1.0);
    }
    
    .button1 {
        border: 0;
        background-color: #90B77D;
        border-radius: 30px;
        font: 17px Nanum Gothic Coding;
        color: #FFFFFF;
        width: 160;
        height: 50;
        margin: 10px;
    }
    
    .button2 {
        all: unset;
        margin: 10px;
        font: 17px Nanum Gothic Coding;
        color: #90B77D;
    }
    
    .box1 {
        background-color: #E9F1E5;
        display: flex;
        margin: 0 auto;
        border-radius: 20px;
        height: 100%;
        flex-wrap: wrap;
    }
    
    #box2 {
        float: left;
        width: 50%;
        min-width: 400px;
        margin: 20px;
        display: block;
        background-color: white;
        border-radius: 20px;
        padding: 10px;
        /*width: 650px;
    height: 930px;
    
    margin-left: 11%;
    margin-top: -57%;*/
        overflow: auto;
        flex: 1;
        /* flex: 1 1 0 */
    }
    
    #box3 {
        float: right;
        min-width: 400px;
        width: 50%;
        margin: 20px;
        display: block;
        background-color: white;
        border-radius: 20px;
        padding: 10px;
        /*width: 600px;
    height: 890px;
    margin-left: 52%;
    margin-top: -55%;
    padding-top: 2em;*/
        flex: 1;
        overflow: auto;
    }
    
    .box1::after {
        content: "";
        display: block;
        clear: both;
    }
    
    .na {
        margin-left: 15%;
        margin-top: 16%;
    }
    
    .large-font {
        font-size: 30px;
        font-weight: 600;
    }
    
    .top-20 {
        position: relative;
        top: 2vh;
        margin-top: 1.2em;
    }
    
    ion-icon.active {
        animation: like 0.5s 1;
        fill: red;
        stroke: none;
        margin-top: 5px;
    }
    
    ion-icon {
        fill: transparent;
        stroke: black;
        stroke-width: 30;
        transition: all 0.5s;
    }
    
    @keyframes like {
        0% {
            transform: scale(1);
        }
        90% {
            transform: scale(1.2);
        }
        100% {
            transform: scale(1.1);
        }
    }
    
    .title {
        font-size: 35px;
        margin-left: 4%;
    }
    
    .tree {
        position: static;
        display: block;
        width: 100%;
        height: 450px;
        border: 3px solid green;
        border-radius: 50% 50% 0px 0px;
    }
    
    .nam {
        display: block;
        position: static;
        width: 100%;
        height: auto;
        border: 3px solid green;
    }
    
    .title {
        position: relative;
        top: 3%;
        text-align: center;
        font-weight: 900;
    }
    
    .textBox {
        position: relative;
        top: 7%;
        left: 5%;
    }
    
    .ntop {
        text-align: center;
    }
    
    .n {
        position: relative;
        padding: 20px;
        text-align: center;
    }
    
    .g {
        padding: 10px;
        line-height: 30px;
    }
    
    ul {
        list-style: none;
        font-size: 30px;
    }
    
    .item--add,
    .item--delete {
        cursor: pointer;
        top: 2vh;
        margin-top: 1.2em;
    }
    
    .item--add--icon {
        cursor: pointer;
        font-size: 30px;
        position: static;
    }
    
    .item--check {
        transform: scale(1.5);
        margin-right: 6px;
        position: static;
    }
    /*쓰레기통 아이콘*/
    
    .item--delete {
        font-size: 30px;
        margin-left: 0.5em;
    }
    /*리스트 작성란*/
    
    .item--title {
        font-size: 31px;
        color: black;
    }
    /*하트 아이콘*/
    
    .item--heart {
        position: relative;
        margin-left: -1.22em;
        margin-top: 0.5em;
        top: 1.3em;
        font-size: 32px;
    }
    
    li {
        margin-top: -0.5em;
    }
    
    .tree img {
        margin: auto;
        padding-top: 40px;
        display: block;
    }