body{
  text-align: center;
}


.user{
  font-size: 20px;
  text-decoration: underline;
  text-align: center;
}

input[type="password"]{
  background-color: #F2F2F2;
  border: none;
  border-radius: 10px;
  width: 25%;
  height: 42px;
}

input[type="text"]{
  background-color: #F2F2F2;
  border: 1.5px #F2F2F2;
  border: none;
  border-radius: 10px;
  width: 25%;
  height: 42px;
  box-sizing:border-box;
}

.find{
  font-size: 15px;
}

.submit{
  font-size: 20px;
  background-color: #42855B;
  border: none;
  border-radius: 10px;
  width: 25%;
  height: 42px;
  font-weight: bolder;
  color: white;
}
