html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    margin: 0;
}

body {
    font-family: 'Noto Sans KR', monospace;
}

nav {
    margin: 0 auto;
}

.menubar {
    display: flex;
    width: 97%;
    margin: 10px;
    padding: 10px;
    font-family: 'Noto Sans KR', monospace;
    font-size: 25px;
    font-weight: 900;
    text-align: center;
    flex-direction: row;
    background-color: rgba(144, 184, 124, 0.2);
    border-radius: 60px;
}

span>a {
    color: #739264;
    text-decoration: none;
}

.menu1 {
    display: flex;
    width: 100%;
    margin: 10px;
    padding: 10px;
    font-family: 'Noto Sans KR', monospace;
}

.menu2 {
    display: flex;
    width: 100%;
    margin: 7px;
    padding: 15px;
    font-family: 'Noto Sans KR', monospace;
}

.menu3 {
    display: flex;
    width: 100%;
    margin: 7px;
    padding: 15px;
    font-family: 'Noto Sans KR', monospace;
}

.menu4 {
    display: flex;
    width: 100%;
    margin: 7px;
    padding: 15px;
    font-family: 'Noto Sans KR', monospace;
}

.button1 {
    border: 0;
    background-color: #90B77D;
    border-radius: 30px;
    font: 17px Nanum Gothic Coding;
    color: #FFFFFF;
    width: 160;
    height: 50;
    margin: 10px;
}

.button2 {
    all: unset;
    margin: 10px;
}

.button2 {
    font: 17px Nanum Gothic Coding;
    color: #90B77D;
}

.box1 {
    margin: 0 auto;
    font-family: 'Nanum Gothic Coding', monospace;
    text-align: center;
    border: #E9f1E5 solid 50px;
    border-radius: 50px;
}

#sh {
    height: 28px;
    min-width: 50%;
    border: 1px solid #90B77D;
    border-radius: 25px;
    padding: 10px 12px;
    font-size: 14px;
}

.search {
    color: #90B77D;
    border: 1px;
    font-size: 40px;
    position: relative;
    background-color: white;
}

.searchBox {
    position: relative;
}

#sIcon {
    color: #90B77D;
}

#sIcon:hover {
    color: #90B77D;
    color: #739264;
}