body {
    text-align: center;
    font-family: 'Noto Sans KR', sans-serif;
    background-color: #EBECF0;
}

form {
    font-weight: bold;
}

.user {
    font-size: 20px;
    text-decoration: underline;
    text-align: center;
}

input[type="password"] {
    padding: 2px;
    font-size: 20px;
    background-color: #F2F2F2;
    border: 1.5px #F2F2F2;
    border: none;
    width: 500px;
    border-radius: 10px;
    height: 50px;
    box-sizing: border-box;
}

input[type="text"] {
    padding: 2px;
    font-size: 20px;
    background-color: #F2F2F2;
    border: 1.5px #F2F2F2;
    border-radius: 10px;
    width: 500px;
    height: 50px;
    box-sizing: border-box;
}

.find {
    font-size: 15px;
}

.submit {
    font-size: 20px;
    background-color: #42855B;
    border: none;
    border-radius: 10px;
    width: 25%;
    height: 42px;
    font-weight: bolder;
    color: white;
}

.container {
    background-color: white;
    align-content: center;
    padding: 10px;
    max-width: 700px;
    text-align: center;
    margin: 0 auto;
}

.agree {
    list-style: none;
}

.agreeText {
    width: 400px;
    height: 100px;
    font-size: 17px;
    font-family: 'Noto Sans KR', sans-serif;
}

.logka {
    font-size: 20px;
    background-color: #F6D875;
    border: none;
    width: 400px;
    border-radius: 10px;
    height: 42px;
    font-weight: bolder;
}

.kakao-login-btn {
    margin: 10px;
}

.login-btn {
    margin: 20px;
}