.menubar {
    display: flex;
    width: 97%;
    margin: 10px;
    padding: 10px;
    font-family: 'Noto Sans KR', monospace;
    text-align: center;
    flex-direction: row;
    background-color: rgba(144, 184, 124, 0.2);
    border-radius: 60px;
}

.menu1 {
    display: flex;
    width: 100%;
    margin: 10px;
    padding: 10px;
    font-family: 'Noto Sans KR', monospace;
}

.menu2 {
    display: flex;
    width: 100%;
    margin: 7px;
    padding: 15px;
    font-family: 'Noto Sans KR', monospace;
}

.menu3 {
    display: flex;
    width: 100%;
    margin: 7px;
    padding: 15px;
    font-family: 'Noto Sans KR', monospace;
}

.menu4 {
    display: flex;
    width: 100%;
    margin: 7px;
    padding: 15px;
    font-family: 'Noto Sans KR', monospace;
}

.button1 {
    border: 0;
    background-color: #90B77D;
    border-radius: 30px;
    font: 17px Noto Sans KR;
    color: #FFFFFF;
    width: 160;
    height: 50;
    margin: 10px;
}

.button2 {
    all: unset;
    margin: 10px;
}

.button2 {
    font: 17px Noto Sans KR;
    color: #90B77D;
}