<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="../stylesheets/login.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap" rel="stylesheet">
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=f9a5c956172b9d5f4228f9b7b68540e1"></script>
</head>

<body style="font-size: 22px;">
    <header>
        <img src="images/twogether-logo.png" alt="로고" width="600px" height="230px" style="text-align: center;margin-right:100px;">
        <div class="before">
            <input class="beforebtn" type="button" value="<" onclick="history_back()"></div>
    </header>
    <div class="container">
        <form action="/login" method="POST">
            <div class="id">
                <!-- <label for="id">아이디: </label> -->
                <p class="text">아이디</p>
                <input type="text" id="id" placeholder=" 아이디" name="id">
            </div>

            <!-- <label for="pw">비밀번호: </label> -->
            <div class="pw">
                <p class="text">비밀번호</p>
                <input type="password" id="password" placeholder=" 비밀번호" name="password">
            </div>
            <div class="login-btn">
                <button type="submit" class="log" id="log">로그인</button>
            </div>
        </form>
        <div class="kakao-login-btn">
            <button class="logka"><a href="/auth/kakao">카카오톡으로 로그인하기</a></button>
        </div>
        <div class="find">
            <a href="">
                <p>비밀번호 찾기</p><br>
            </a>
        </div>
        <div>
            <p style="font-weight: bold;">아직 TWOgether 회원이 아니신가요?</p>
        </div>
        <div class="user" onclick="location.href='/signup'">
            <p>회원가입 하기</p><br><br>
        </div>
    </div>
    <footer class="foot">
        <p><a href="">개인정보처리방침</a> |
            <a href="">문의사항</a></p>
        <p>Infomation: Twogether
            <br>Copyright 2023 Team twogether. All rights reserved.</p>
    </footer>
    <script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
    <script>
        Kakao.init('f9a5c956172b9d5f4228f9b7b68540e1'); //발급받은 키 중 javascript키를 사용해준다.
        console.log(Kakao.isInitialized()); // sdk초기화여부판단
        //카카오로그인
        function kakaoLogin() {
            Kakao.Auth.login({
                success: function(response) {
                    Kakao.API.request({
                        url: '/v2/user/me',
                        success: function(response) {
                            console.log(response)
                        },
                        fail: function(error) {
                            console.log(error)
                        },
                    })
                },
                fail: function(error) {
                    console.log(error)
                },
            })
        }
        //카카오로그아웃  
        function kakaoLogout() {
            if (Kakao.Auth.getAccessToken()) {
                Kakao.API.request({
                    url: '/v1/user/unlink',
                    success: function(response) {
                        console.log(response)
                    },
                    fail: function(error) {
                        console.log(error)
                    },
                })
                Kakao.Auth.setAccessToken(undefined)
            }
        }

        document.getElementById('log').addEventListener('click', function() {
            const id = document.getElementById('id').value;
            const password = document.getElementById('password').value;

            const formData = {
                id: id,
                password: password
            };

            fetch('/login', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(formData)
                })
                .then(response => response.json())
                .then(data => {
                    // 서버 응답 처리
                    if (data.success) {
                        console.log("로그인이 성공했습니다.");
                    } else {
                        console.log("로그인에 실패했습니다.");
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        });

        function history_back() {
            history.back();
        }
    </script>

</body>

</html>