<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="../stylesheets/login.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap" rel="stylesheet">
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=f9a5c956172b9d5f4228f9b7b68540e1"></script>
</head>

<body style="font-size: 22px;">
    <header>
        <img src="images/twogether-logo.png" alt="로고" width="540px" height="200px" style="text-align: center;margin-right:100px;">
        <div class="before">
            <input class="beforebtn" type="button" value="<" onclick="history_back()"></div>
    </header>
    <div class="container">

        <p>아래 사항에 동의하시면, <strong style="font-weight: bold;">카카오톡으로 로그인하기</strong>를 눌러주세요.</p>
        <ul class="agree">
            <li class="agree1">
                <label for="agree1">
                    <span>이용약관 동의<strong> (필수)</strong></span>
                </label>
                <div class="agreeT">
                    <textarea name="agree1" class="agreeText">TWOgether 서비스 및 제품(이하 ‘서비스’)을 이용해 주셔서 감사합니다. 본 약관은 다양한 TWOgether 서비스의 이용과 관련하여 TWOgether 서비스를 제공하는 TWOgether와 이를 이용하는 TWOgether 서비스 회원(이하 ‘회원’) 또는 비회원과의 관계를 설명하며, 아울러 여러분의 TWOgether 서비스 이용에 도움이 될 수 있는 유익한 정보를 포함하고 있습니다.</textarea>
                </div>
            </li>
            <br>
            <li class="agree2">
                <label for="agree2">
                    <span>개인정보 수집 및 이용 동의<strong> (필수)</strong></span>
                </label>
                <div class="agreeT">
                    <textarea name="agree2" class="agreeText">TWOgether 서비스 및 제품(이하 ‘서비스’)을 이용해 주셔서 감사합니다. 본 약관은 다양한 TWOgether 서비스의 이용과 관련하여 TWOgether 서비스를 제공하는 TWOgether와 이를 이용하는 TWOgether 서비스 회원(이하 ‘회원’) 또는 비회원과의 관계를 설명하며, 아울러 여러분의 TWOgether 서비스 이용에 도움이 될 수 있는 유익한 정보를 포함하고 있습니다.</textarea>
                </div>
            </li>
            <br>
            <li class="agree3">
                <label for="agree3">
                    <span>개인위치정보 수집ㆍ이용<strong> (필수)</strong></span>
                </label>
                <div class="agreeT">
                    <textarea name="agree3" class="agreeText">TWOgether 서비스 및 제품(이하 ‘서비스’)을 이용해 주셔서 감사합니다. 본 약관은 다양한 TWOgether 서비스의 이용과 관련하여 TWOgether 서비스를 제공하는 TWOgether와 이를 이용하는 TWOgether 서비스 회원(이하 ‘회원’) 또는 비회원과의 관계를 설명하며, 아울러 여러분의 TWOgether 서비스 이용에 도움이 될 수 있는 유익한 정보를 포함하고 있습니다.</textarea>
                </div>
            </li>
            <br>
        </ul>
        <div class="kakao-login-btn">
            <button class="logka"><a href="/auth/kakao">카카오톡으로 로그인하기</a></button>
        </div>
        <br>
    </div>
    <footer class="foot">
        <p><a href="">개인정보처리방침</a> |
            <a href="">문의사항</a></p>
        <p>Infomation: Twogether
            <br>Copyright 2023 Team twogether. All rights reserved.</p>
    </footer>
    <script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
    <script>
        document.getElementById('log').addEventListener('click', function() {
            const id = document.getElementById('id').value;
            const password = document.getElementById('password').value;

            const formData = {
                id: id,
                password: password
            };

            fetch('/login', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(formData)
                })
                .then(response => response.json())
                .then(data => {
                    // 서버 응답 처리
                    if (data.success) {
                        console.log("로그인이 성공했습니다.");
                    } else {
                        console.log("로그인에 실패했습니다.");
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        });

        function history_back() {
            history.back();
        }
    </script>

</body>

</html>