<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap" rel="stylesheet">
    <title>🌳TWOGETHER</title>
    <link rel="stylesheet" href="/stylesheets/map.css">
</head>


<body>
    <header>
        <div>
            <img src="images/twogether-logo.png" onclick="move()" alt="로고" width="380px" height="140px">


        </div>

        <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=18f1f5174d57449e61102b40f59207e4"></script>
    </header>
    <nav>
        <ul class="menubar">
            <span class="menu1"> <a href="/">홈</a></span>
            <span class="menu2"> <a href="/map">생태관광지 추천</a></span>
            <span class="menu3"> <a href="/scH">관광 안내소</a></span>
            <span class="menu4"> <a href="/namuGrow">나무 키우기</a></span>
        </ul>
    </nav>
    <div id='map' style="width:auto;height:1000px;"></div>
    <div id="Gotoseeing" style="background-color: #90B77D;">
        <form type="button" onclick="location.href='/sightSeeing'" value="관광지 확인" class="gotoseeing">
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script>
        var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
            mapOption = {
                center: new kakao.maps.LatLng(36.220024, 127.947228), // 지도의 중심좌표 
                level: 12 // 지도의 확대 레벨
            };

        var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다
        // 지도에 표시할 원을 생성합니다
        // 서울
        var circle1 = new kakao.maps.Circle({
            center: new kakao.maps.LatLng(37.555425, 126.99197),
            // 원의 중심좌표 입니다 
            radius: 15000, // 미터 단위의 원의 반지름입니다 
            strokeWeight: 3, // 선의 두께입니다 
            strokeColor: '#FFF7DD', // 선의 색깔입니다
            strokeOpacity: 1, // 선의 불투명도 입니다 1에서 0 사이의 값이며 0에 가까울수록 투명합니다
            strokeStyle: 'solid', // 선의 스타일 입니다
            fillColor: '#FFF7DD', // 채우기 색깔입니다
            fillOpacity: 1, // 채우기 불투명도 입니다   
        });
        circle1.setMap(map); // 지도에 원을 표시합니다

        //서울 마크
        var content1 = '<form class ="label"><span class="left"></span><label class="center" id="1" >서울</label><span class="right"></span></div>';

        //클릭 이벤트 

        // 커스텀 오버레이가 표시될 위치입니다 
        var position1 = new kakao.maps.LatLng(37.555425, 126.99197);

        // 커스텀 오버레이를 생성합니다
        var customOverlay = new kakao.maps.CustomOverlay({
            position: position1,
            content: content1
        });

        // 커스텀 오버레이를 지도에 표시합니다
        customOverlay.setMap(map);


        //인천
        var circle2 = new kakao.maps.Circle({
            center: new kakao.maps.LatLng(37.450542763, 126.701041), // 원의 중심좌표 입니다 
            radius: 20000, // 미터 단위의 원의 반지름입니다 
            strokeWeight: 3, // 선의 두께입니다 
            strokeColor: '#FFF7DD', // 선의 색깔입니다
            strokeOpacity: 1, // 선의 불투명도 입니다 1에서 0 사이의 값이며 0에 가까울수록 투명합니다
            strokeStyle: 'solid', // 선의 스타일 입니다
            fillColor: '#FFF7DD', // 채우기 색깔입니다
            fillOpacity: 1 // 채우기 불투명도 입니다   
        });
        circle2.setMap(map);
        //인천 마크
        var content2 = '<form class ="label"><span class="left"></span><label class="center" id="2" >인천</label><span class="right"></span></div>';

        // 커스텀 오버레이가 표시될 위치입니다 
        var position2 = new kakao.maps.LatLng(37.450542763, 126.701041);

        // 커스텀 오버레이를 생성합니다
        var customOverlay = new kakao.maps.CustomOverlay({
            position: position2,
            content: content2
        });

        // 커스텀 오버레이를 지도에 표시합니다
        customOverlay.setMap(map);

        //대전
        var circle3 = new kakao.maps.Circle({
            center: new kakao.maps.LatLng(36.363792, 127.38555749), // 원의 중심좌표 입니다 
            radius: 30000, // 미터 단위의 원의 반지름입니다 
            strokeWeight: 3, // 선의 두께입니다 
            strokeColor: '#FFF7DD', // 선의 색깔입니다
            strokeOpacity: 1, // 선의 불투명도 입니다 1에서 0 사이의 값이며 0에 가까울수록 투명합니다
            strokeStyle: 'solid', // 선의 스타일 입니다
            fillColor: '#FFF7DD', // 채우기 색깔입니다
            fillOpacity: 1 // 채우기 불투명도 입니다   
        });
        circle3.setMap(map);

        //대전 마크
        var content3 = '<form class ="label"><span class="left"></span><label class="center"id="3" >대전</input><span class="right"></span></div>';

        // 커스텀 오버레이가 표시될 위치입니다 
        var position3 = new kakao.maps.LatLng(36.363792, 127.38555749);

        // 커스텀 오버레이를 생성합니다
        var customOverlay = new kakao.maps.CustomOverlay({
            position: position3,
            content: content3
        });

        // 커스텀 오버레이를 지도에 표시합니다
        customOverlay.setMap(map);

        //대구
        var circle4 = new kakao.maps.Circle({
            center: new kakao.maps.LatLng(35.89230, 128.602428), // 원의 중심좌표 입니다 
            radius: 30000, // 미터 단위의 원의 반지름입니다 
            strokeWeight: 3, // 선의 두께입니다 
            strokeColor: '#FFF7DD', // 선의 색깔입니다
            strokeOpacity: 1, // 선의 불투명도 입니다 1에서 0 사이의 값이며 0에 가까울수록 투명합니다
            strokeStyle: 'solid', // 선의 스타일 입니다
            fillColor: '#FFF7DD', // 채우기 색깔입니다
            fillOpacity: 1 // 채우기 불투명도 입니다   
        });
        circle4.setMap(map);
        //대구 마크
        var content4 = '<form class ="label"><span class="left"></span><label class="center"id="4" >대구</input><span class="right"></span></div>';

        // 커스텀 오버레이가 표시될 위치입니다 
        var position4 = new kakao.maps.LatLng(35.89230, 128.602428);

        // 커스텀 오버레이를 생성합니다
        var customOverlay = new kakao.maps.CustomOverlay({
            position: position4,
            content: content4
        });

        // 커스텀 오버레이를 지도에 표시합니다
        customOverlay.setMap(map);




        //부산
        var circle6 = new kakao.maps.Circle({
            center: new kakao.maps.LatLng(35.1748085, 129.0602685), // 원의 중심좌표 입니다 
            radius: 25000, // 미터 단위의 원의 반지름입니다 
            strokeWeight: 3, // 선의 두께입니다 
            strokeColor: '#FFF7DD', // 선의 색깔입니다
            strokeOpacity: 1, // 선의 불투명도 입니다 1에서 0 사이의 값이며 0에 가까울수록 투명합니다
            strokeStyle: 'solid', // 선의 스타일 입니다
            fillColor: '#FFF7DD', // 채우기 색깔입니다
            fillOpacity: 1 // 채우기 불투명도 입니다   
        });
        circle6.setMap(map);
        //부산 마크
        var content6 = '<form class ="label"><span class="left"></span><label class="center"id="6" >부산</label><span class="right"></span></div>';

        // 커스텀 오버레이가 표시될 위치입니다 
        var position6 = new kakao.maps.LatLng(35.1748085, 129.0602685);

        // 커스텀 오버레이를 생성합니다
        var customOverlay = new kakao.maps.CustomOverlay({
            position: position6,
            content: content6
        });

        // 커스텀 오버레이를 지도에 표시합니다
        customOverlay.setMap(map);

        //울산
        var circle7 = new kakao.maps.Circle({
            center: new kakao.maps.LatLng(35.5471352, 129.385876), // 원의 중심좌표 입니다 
            radius: 25000, // 미터 단위의 원의 반지름입니다 
            strokeWeight: 3, // 선의 두께입니다 
            strokeColor: '#FFF7DD', // 선의 색깔입니다
            strokeOpacity: 1, // 선의 불투명도 입니다 1에서 0 사이의 값이며 0에 가까울수록 투명합니다
            strokeStyle: 'solid', // 선의 스타일 입니다
            fillColor: '#FFF7DD', // 채우기 색깔입니다
            fillOpacity: 1 // 채우기 불투명도 입니다   
        });
        circle7.setMap(map);
        //울산 마크
        var content7 = '<form class ="label"><span class="left"></span><label class="center"id="7" >울산</input><span class="right"></span></div>';

        // 커스텀 오버레이가 표시될 위치입니다 
        var position7 = new kakao.maps.LatLng(35.5471352, 129.385876);

        // 커스텀 오버레이를 생성합니다
        var customOverlay = new kakao.maps.CustomOverlay({
            position: position7,
            content: content7
        });

        // 커스텀 오버레이를 지도에 표시합니다
        customOverlay.setMap(map);

        //경기도
        var circle31 = new kakao.maps.Circle({
            center: new kakao.maps.LatLng(37.175275999, 127.009132), // 원의 중심좌표 입니다 
            radius: 30000, // 미터 단위의 원의 반지름입니다 
            strokeWeight: 3, // 선의 두께입니다 
            strokeColor: '#FFF7DD', // 선의 색깔입니다
            strokeOpacity: 1, // 선의 불투명도 입니다 1에서 0 사이의 값이며 0에 가까울수록 투명합니다
            strokeStyle: 'solid', // 선의 스타일 입니다
            fillColor: '#FFF7DD', // 채우기 색깔입니다
            fillOpacity: 1 // 채우기 불투명도 입니다   
        });
        circle31.setMap(map);
        //경기도 마크
        var content31 = '<form class ="label"><span class="left"></span><label class="center"id="31" >경기도</input><span class="right"></span></div>';

        // 커스텀 오버레이가 표시될 위치입니다 
        var position31 = new kakao.maps.LatLng(37.175275999, 127.009132);

        // 커스텀 오버레이를 생성합니다
        var customOverlay = new kakao.maps.CustomOverlay({
            position: position31,
            content: content31
        });

        // 커스텀 오버레이를 지도에 표시합니다
        customOverlay.setMap(map);

        //강원도
        var circle32 = new kakao.maps.Circle({
            center: new kakao.maps.LatLng(37.6049422, 128.423935), // 원의 중심좌표 입니다 
            radius: 40000, // 미터 단위의 원의 반지름입니다 
            strokeWeight: 3, // 선의 두께입니다 
            strokeColor: '#FFF7DD', // 선의 색깔입니다
            strokeOpacity: 1, // 선의 불투명도 입니다 1에서 0 사이의 값이며 0에 가까울수록 투명합니다
            strokeStyle: 'solid', // 선의 스타일 입니다
            fillColor: '#FFF7DD', // 채우기 색깔입니다
            fillOpacity: 1 // 채우기 불투명도 입니다   
        });
        circle32.setMap(map);
        //강원도 마크
        var content32 = '<form class ="label"><span class="left"></span><label class="center"id="32" >강원도</input><span class="right"></span></div>';

        // 커스텀 오버레이가 표시될 위치입니다 
        var position32 = new kakao.maps.LatLng(37.6049422, 128.423935);

        // 커스텀 오버레이를 생성합니다
        var customOverlay = new kakao.maps.CustomOverlay({
            position: position32,
            content: content32
        });

        // 커스텀 오버레이를 지도에 표시합니다
        customOverlay.setMap(map);

        //충청북도
        var circle33 = new kakao.maps.Circle({
            center: new kakao.maps.LatLng(36.850001468, 127.74390949), // 원의 중심좌표 입니다 
            radius: 30000, // 미터 단위의 원의 반지름입니다 
            strokeWeight: 3, // 선의 두께입니다 
            strokeColor: '#FFF7DD', // 선의 색깔입니다
            strokeOpacity: 1, // 선의 불투명도 입니다 1에서 0 사이의 값이며 0에 가까울수록 투명합니다
            strokeStyle: 'solid', // 선의 스타일 입니다
            fillColor: '#FFF7DD', // 채우기 색깔입니다
            fillOpacity: 1 // 채우기 불투명도 입니다   
        });
        circle33.setMap(map);
        //충청북도 마크
        var content33 = '<form class ="label"><span class="left"></span><label class="center"id="33" >충청북도</input><span class="right"></span></div>';

        // 커스텀 오버레이가 표시될 위치입니다 
        var position33 = new kakao.maps.LatLng(36.850001468, 127.74390949);

        // 커스텀 오버레이를 생성합니다
        var customOverlay = new kakao.maps.CustomOverlay({
            position: position33,
            content: content33
        });

        // 커스텀 오버레이를 지도에 표시합니다
        customOverlay.setMap(map);

        //충청남도
        var circle34 = new kakao.maps.Circle({
            center: new kakao.maps.LatLng(36.5546054, 126.8203359), // 원의 중심좌표 입니다 
            radius: 30000, // 미터 단위의 원의 반지름입니다 
            strokeWeight: 3, // 선의 두께입니다 
            strokeColor: '#FFF7DD', // 선의 색깔입니다
            strokeOpacity: 1, // 선의 불투명도 입니다 1에서 0 사이의 값이며 0에 가까울수록 투명합니다
            strokeStyle: 'solid', // 선의 스타일 입니다
            fillColor: '#FFF7DD', // 채우기 색깔입니다
            fillOpacity: 1 // 채우기 불투명도 입니다   
        });
        circle34.setMap(map);
        //충청남도 마크
        var content34 = '<form class ="label"><span class="left"></span><label class="center"id="34" >충청남도</input><span class="right"></span></div>';

        // 커스텀 오버레이가 표시될 위치입니다 
        var position34 = new kakao.maps.LatLng(36.5546054, 126.8203359);

        // 커스텀 오버레이를 생성합니다
        var customOverlay = new kakao.maps.CustomOverlay({
            position: position34,
            content: content34
        });

        // 커스텀 오버레이를 지도에 표시합니다
        customOverlay.setMap(map);

        //경상북도
        var circle35 = new kakao.maps.Circle({
            center: new kakao.maps.LatLng(36.4941751, 128.7004477), // 원의 중심좌표 입니다 
            radius: 30000, // 미터 단위의 원의 반지름입니다 
            strokeWeight: 3, // 선의 두께입니다 
            strokeColor: '#FFF7DD', // 선의 색깔입니다
            strokeOpacity: 1, // 선의 불투명도 입니다 1에서 0 사이의 값이며 0에 가까울수록 투명합니다
            strokeStyle: 'solid', // 선의 스타일 입니다
            fillColor: '#FFF7DD', // 채우기 색깔입니다
            fillOpacity: 1 // 채우기 불투명도 입니다   
        });
        circle35.setMap(map);
        //경상북도 마크
        var content35 = '<form class ="label"><span class="left"></span><label class="center"id="35" >경상북도</input><span class="right"></span></div>';

        // 커스텀 오버레이가 표시될 위치입니다 
        var position35 = new kakao.maps.LatLng(36.4941751, 128.7004477);

        // 커스텀 오버레이를 생성합니다
        var customOverlay = new kakao.maps.CustomOverlay({
            position: position35,
            content: content35
        });

        // 커스텀 오버레이를 지도에 표시합니다
        customOverlay.setMap(map);

        //경상남도
        var circle36 = new kakao.maps.Circle({
            center: new kakao.maps.LatLng(35.439432198, 128.15924652), // 원의 중심좌표 입니다 
            radius: 30000, // 미터 단위의 원의 반지름입니다 
            strokeWeight: 3, // 선의 두께입니다 
            strokeColor: '#FFF7DD', // 선의 색깔입니다
            strokeOpacity: 1, // 선의 불투명도 입니다 1에서 0 사이의 값이며 0에 가까울수록 투명합니다
            strokeStyle: 'solid', // 선의 스타일 입니다
            fillColor: '#FFF7DD', // 채우기 색깔입니다
            fillOpacity: 1 // 채우기 불투명도 입니다   
        });
        circle36.setMap(map);
        //경상남도 마크
        var content36 = '<form class ="label"><span class="left"></span><label class="center"id="36">경상남도</input><span class="right"></span></div>';

        // 커스텀 오버레이가 표시될 위치입니다 
        var position36 = new kakao.maps.LatLng(35.439432198, 128.15924652);

        // 커스텀 오버레이를 생성합니다
        var customOverlay = new kakao.maps.CustomOverlay({
            position: position36,
            content: content36
        });

        // 커스텀 오버레이를 지도에 표시합니다
        customOverlay.setMap(map);

        //전라북도
        var circle37 = new kakao.maps.Circle({
            center: new kakao.maps.LatLng(35.7495554, 127.04293078), // 원의 중심좌표 입니다 
            radius: 30000, // 미터 단위의 원의 반지름입니다 
            strokeWeight: 3, // 선의 두께입니다 
            strokeColor: '#FFF7DD', // 선의 색깔입니다
            strokeOpacity: 1, // 선의 불투명도 입니다 1에서 0 사이의 값이며 0에 가까울수록 투명합니다
            strokeStyle: 'solid', // 선의 스타일 입니다
            fillColor: '#FFF7DD', // 채우기 색깔입니다
            fillOpacity: 1 // 채우기 불투명도 입니다   
        });
        circle37.setMap(map);
        //전라북도 마크
        var content37 = '<form class ="label"><span class="left"></span><label class="center"id="37" >전라북도</input><span class="right"></span></div>';

        // 커스텀 오버레이가 표시될 위치입니다 
        var position37 = new kakao.maps.LatLng(35.7495554, 127.04293078);

        // 커스텀 오버레이를 생성합니다
        var customOverlay = new kakao.maps.CustomOverlay({
            position: position37,
            content: content37
        });

        // 커스텀 오버레이를 지도에 표시합니다
        customOverlay.setMap(map);

        //전라님도
        var circle38 = new kakao.maps.Circle({
            center: new kakao.maps.LatLng(34.9511999, 127.0032734), // 원의 중심좌표 입니다 
            radius: 30000, // 미터 단위의 원의 반지름입니다 
            strokeWeight: 3, // 선의 두께입니다 
            strokeColor: '#FFF7DD', // 선의 색깔입니다
            strokeOpacity: 1, // 선의 불투명도 입니다 1에서 0 사이의 값이며 0에 가까울수록 투명합니다
            strokeStyle: 'solid', // 선의 스타일 입니다
            fillColor: '#FFF7DD', // 채우기 색깔입니다
            fillOpacity: 1 // 채우기 불투명도 입니다   
        });
        circle38.setMap(map);
        //전라남도 마크
        var content38 = '<form class ="label"><span class="left"></span><label class="center"id="38" >전라남도</input><span class="right"></span></div>';

        // 커스텀 오버레이가 표시될 위치입니다 
        var position38 = new kakao.maps.LatLng(34.9511999, 127.0032734);

        // 커스텀 오버레이를 생성합니다
        var customOverlay = new kakao.maps.CustomOverlay({
            position: position38,
            content: content38
        });

        // 커스텀 오버레이를 지도에 표시합니다
        customOverlay.setMap(map);

        //제주도
        var circle39 = new kakao.maps.Circle({
            center: new kakao.maps.LatLng(33.38323338, 126.5189878), // 원의 중심좌표 입니다 
            radius: 30000, // 미터 단위의 원의 반지름입니다 
            strokeWeight: 3, // 선의 두께입니다 
            strokeColor: '#FFF7DD', // 선의 색깔입니다
            strokeOpacity: 1, // 선의 불투명도 입니다 1에서 0 사이의 값이며 0에 가까울수록 투명합니다
            strokeStyle: 'solid', // 선의 스타일 입니다
            fillColor: '#FFF7DD', // 채우기 색깔입니다
            fillOpacity: 1 // 채우기 불투명도 입니다   
        });
        circle39.setMap(map);
        //제주도 마크
        var content39 = '<form class ="label"><span class="left"></span><label class="center" id="39">제주도</input><span class="right"></span></div>';

        // 커스텀 오버레이가 표시될 위치입니다 
        var position39 = new kakao.maps.LatLng(33.38323338, 126.5189878);

        // 커스텀 오버레이를 생성합니다
        var customOverlay = new kakao.maps.CustomOverlay({
            position: position39,
            content: content39
        });

        // 커스텀 오버레이를 지도에 표시합니다
        customOverlay.setMap(map);
        //데이터 저장


        $(".center").click(function() {
            var areadata = $(this).attr('id');
            console.log(areadata);
            const variableValue = areadata;
            fetch(`/get-variable?variable=${encodeURIComponent(variableValue)}`)
                .then(response => response.json())
                .then(data => {
                    // b.html로 변수 값을 전달할 수 있습니다.
                    window.location.href = `/sightSeeing?variable=${encodeURIComponent(data.variable)}`;
                })
                .catch(error => {
                    console.error('변수 값을 가져오는 중 오류 발생:', error);
                });
        });

        function move() {
            location.href = "/";
        }
    </script>

</html>