<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap" rel="stylesheet">
    <title>지도</title>
    <link rel="stylesheet" href="/stylesheets/map.css">
</head>

<body>
    <header>
        <div>
            <img src="images/twogether-logo.png" alt="로고" width="380px" height="140px">
            <input type="button" onclick="location.href='/myPage'" value="마이페이지" class="button1" style="float:right;">
            <input type="button" value="로그인" class="button2" style="float:right;">
        </div>
        <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=f9a5c956172b9d5f4228f9b7b68540e1"></script>
    </header>
    <nav>
        <ul class="menubar">
            <span class="menu1"> <a href="/">홈</a></span>
            <span class="menu2"> <a href="/map">지역 선택</a></span>
            <span class="menu3"> <a href="">관광 안내소</a></span>
            <span class="menu4"> <a href="">나무 키우기</a></span>
        </ul>
    </nav>
    <div id='map' style="width:auto;height:1000px;"></div>
    <div id="Gotoseeing" style="background-color: #90B77D;">
        <form type="button" onclick="location.href='/sightSeeing'" value="관광지 확인" class="gotoseeing">
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script>
        // 지도 생성
var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
    mapOption = { 
        center: new kakao.maps.LatLng(36.5, 127.5), // 지도의 중심좌표
        level: 7 // 지도의 확대 레벨
    }; 

var map = new kakao.maps.Map(mapContainer, mapOption); 

// 함수를 만들어 중복을 최소화합니다.
function addCircleAndMarker(center, radius, label) {
    var circle = new kakao.maps.Circle({
        center: center,
        radius: radius,
        strokeWeight: 3,
        strokeColor: '#F6D875',
        strokeOpacity: 1,
        strokeStyle: 'solid',
        fillColor: '#FFF7DD',
        fillOpacity: 0.5
    });
    circle.setMap(map);

    var content = '<form class="label"><span class="left"></span><label class="center">' + label + '</label><span class="right"></span></div>';
    var position = center;
    var customOverlay = new kakao.maps.CustomOverlay({
        position: position,
        content: content
    });
    customOverlay.setMap(map);
}

// 함수를 사용하여 지역을 추가합니다.

//서울
addCircleAndMarker(new kakao.maps.LatLng(37.566826, 126.9786567), 30000, '서울');

//인천
addCircleAndMarker(new kakao.maps.LatLng(37.4562557, 126.7052063), 25000, '인천');

//대전
addCircleAndMarker(new kakao.maps.LatLng(36.3504118, 127.3845475), 15000, '대전');

//광주
addCircleAndMarker(new kakao.maps.LatLng(35.1738156, 126.8796307), 15000, '광주');

//부산
addCircleAndMarker(new kakao.maps.LatLng(35.1748085, 129.0602685), 25000, '부산');

//울산
addCircleAndMarker(new kakao.maps.LatLng(35.5471352, 129.385876), 25000, '울산');

//세종
addCircleAndMarker(new kakao.maps.LatLng(36.50712515, 127.2776754), 15000, '세종');

//경기도
addCircleAndMarker(new kakao.maps.LatLng(37.175275999, 127.009132), 30000, '경기도');

//강원도
addCircleAndMarker(new kakao.maps.LatLng(37.6049422, 128.423935), 40000, '강원도');

//충청북도
addCircleAndMarker(new kakao.maps.LatLng(36.850001468, 127.74390949), 30000, '충청북도');

//충청남도
addCircleAndMarker(new kakao.maps.LatLng(36.5546054, 126.8203359), 30000, '충청남도');

//경상북도
addCircleAndMarker(new kakao.maps.LatLng(36.4941751, 128.7004477), 30000, '경상북도');

//경상남도
addCircleAndMarker(new kakao.maps.LatLng(35.439432198, 128.15924652), 30000, '경상남도');

//전라북도
addCircleAndMarker(new kakao.maps.LatLng(35.7495554, 127.04293078), 30000, '전라북도');

//전라남도
addCircleAndMarker(new kakao.maps.LatLng(34.9511999, 127.0032734), 15000, '전라남도');

//제주도
addCircleAndMarker(new kakao.maps.LatLng(33.38323338, 126.5189878), 30000, '제주도');



$(".center").click(function() {
    var areacode = $(this).attr('id');
    console.log(areacode);

    // 클릭한 areacode를 전달하여 getPlaceByAreaCode 함수 호출
    getPlaceByAreaCode(areacode);

    $.ajax({
        type: 'GET',
        url: '/sightSeeing',
        data: {
            areaData: areadata
        },
        success: function(result) {
            var page = '/sightSeeing?areaCode=' + areadata;
            console.log(page);
            alert('Success');
            window.location.replace(page);
        },
        error: function() {
            alert('Error');
        }
    });
});

function getPlaceByAreaCode(receivedVariable) {
    boxClassNames.forEach((boxClass, index) => {
        const apiUrlWithPageNo = `${apiUrlBase}?${queryParams}&pageNo=${index + 1}&areaCode=${receivedVariable}`;
        getPlace(apiUrlWithPageNo, boxClass);
    });
}


    </script>

</html>