<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>🌳TWOGETHER</title>
    <link rel="stylesheet" href="/stylesheets/namuGrow.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
</head>

<body style="font-size: 22px;">

    <header>
        <div>
            <img src="images/twogether-logo.png" onclick="move()" alt="로고" width="380px" height="140px">
        </div>
    </header>

    <nav>
        <ul class="menubar">
            <span class="menu1"> <a href="/">홈</a></span>
            <span class="menu2"> <a href="/map">지역 선택</a></span>
            <span class="menu3"> <a href="/scH">관광 안내소</a></span>
            <span class="menu4"> <a href="/namuGrow">나무 키우기</a></span>
        </ul>
    </nav>

    <div class="box1">
        <div id="box2" class="box">
            <b class="title">🌳 친환경적인 행동 실천 사항 🌳</b>
            <div class="textBox">
                <div class='large-font text-center top-20'>
                    <ion-icon name="heart" class="heart">
                        <div class='red-bg'></div>
                    </ion-icon>
                    <span class="todo" data-key="쓰레기 줍기">쓰레기 줍기</span>
                </div>
                <div class='large-font text-center top-20'>
                    <ion-icon name="heart" class="heart">
                        <div class='red-bg'></div>
                    </ion-icon>
                    <span class="todo" data-key="텀블러 사용하기">텀블러 사용하기</span>
                </div>
                <div class='large-font text-center top-20'>
                    <ion-icon name="heart" class="heart">
                        <div class='red-bg'></div>
                    </ion-icon>
                    <span class="todo" data-key="포장용기 직접 가져오기">포장용기 직접 가져오기</span>
                </div>
                <div class='large-font text-center top-20'>
                    <ion-icon name="heart" class="heart">
                        <div class='red-bg'></div>
                    </ion-icon>
                    <span class="todo" data-key="대중교통 이용하기">대중교통 이용하기</span>
                </div>
                <div class='large-font text-center top-20'>
                    <ion-icon name="heart" class="heart">
                        <div class='red-bg'></div>
                    </ion-icon>
                    <span class="todo" data-key="친환경 관광지 방문하기">친환경 관광지 방문하기</span>
                </div>
                <div class='large-font text-center top-20'>
                    <ion-icon name="heart" class="heart">
                        <div class='red-bg'></div>
                    </ion-icon>
                    <span class="todo" data-key="봉지 대신 에코백 사용하기">봉지 대신 에코백 사용하기</span>
                </div>
                <div class='large-font text-center top-20'>
                    <ion-icon name="heart" class="heart">
                        <div class='red-bg'></div>
                    </ion-icon>
                    <span class="todo" data-key="녹색매장 이용하기">녹색매장 이용하기</span>
                </div>
                <ul class="items">
                    <div class="item--add--icon">
                        <i class="fas fa-plus-circle before"></i>
                    </div>
                </ul>
            </div>
        </div>

        <div id="box3" class="box">
            <div class="tree">
                <img id="tree" src="/images/sprout.png" style="width:400px; height:400px; text-align:center; align-items: center; ">
                <i class="fas fa-solid fa-leaf" id="leaf-icon" style="display: none;"></i>
                <i class="fab fa-brands fa-pagelines" id="pagelines-icon" style="display: none;"></i>
                <i class="fas fa-solid fa-tree" id="tree-icon" style="display: none;"></i>
            </div>
            <div class="nam">
                <p class="n">나무 키우기 사용 설명서</p>
                <div class="gtop">
                    <p class="g">
                        1. 실천 사항은 매일 초기화됩니다.<br> <br>2. 나무는 실천하는 행동들이 많아질수록 성장합니다.<br><br> 3. 나무의 성장 단계는 총 3단계입니다.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script>
        //하트 아이콘 js
        const todoSpans = document.querySelectorAll('.todo');

        // 각각의 span 요소의 내용을 키로 사용하여 데이터를 localStorage에 저장합니다.
        /*todoSpans.forEach(function(span) {
            const key = span.textContent.trim();
            const value = ''; // 저장할 값을 가져오거나 생성합니다.
            localStorage.setItem(key, value);
        });*/

        const icons = document.querySelectorAll('ion-icon');
        icons.forEach(icon => {
            const todoElement = icon.nextElementSibling;

            // .todo 엘리먼트의 내용을 가져와서 키로 사용합니다.
            const key = todoElement.getAttribute('data-key');

            // localStorage에서 해당 키의 값 가져오기
            const value = localStorage.getItem(key);

            if (value == 'click') {
                // 값이 "click"인 경우 .heart 아이콘에 "active" 클래스 추가
                icon.classList.add('active');
            }
        });
        icons.forEach(icon => {
            icon.addEventListener('click', () => {
                const todoElement = icon.nextElementSibling;
                const keyToChange = todoElement.textContent.trim();
                const currentValue = localStorage.getItem(keyToChange);
                // 변경하려는 키
                const newValue = currentValue === 'click' ? 'unclick' : 'click'; // 새로운 값
                const oldValue = localStorage.getItem(keyToChange);
                localStorage.setItem(keyToChange, newValue);
                // 변경된 값을 화면에 표시하거나 다른 작업을 수행할 수 있습니다.
                if (newValue == 'click') {
                    icon.classList.add('active');
                } else {
                    icon.classList.remove('active');
                }
            });

        });


        //리스트 추가삭제 js
        const items = document.querySelector('.items');
        const itemPlus = document.querySelector('.item--add--icon');
        itemPlus.addEventListener('click', e => {
            const icons = document.querySelectorAll('ion-icon');
            icons.forEach(icon => {
                icon.addEventListener('click', () => {
                    icon.classList.toggle('active');
                });
            });
            let thisElement = e.target;
            if (thisElement.nodeName !== 'I') {
                thisElement = e.target.firstElementChild;
            }
            if (thisElement.classList.contains('fa-plus-circle')) {
                const itemElement = document.createElement('li');
                itemElement.classList.add('item');
                //체크를 하트로 바꿈
                const checkTag = document.createElement('div');
                checkTag.classList.add('item--heart');
                checkTag.innerHTML = `<ion-icon name="heart"class="heart"></ion-icon>`;
                //리스트 작성
                const textTag = document.createElement('input');
                textTag.setAttribute('type', 'text');
                textTag.classList.add('item--title');
                //리스트 삭제 아이콘
                const spanTag = document.createElement('span');
                spanTag.classList.add('item--delete');
                spanTag.innerHTML = `<i class="fas fa-trash-alt"></i>`;

                itemElement.append(checkTag, textTag, spanTag);
                items.append(itemElement);
                thisElement.classList.remove('fa-plus-circle');
                thisElement.classList.add('fa-check');

                textTag.focus();
            } else if (thisElement.classList.contains('fa-check')) {
                const itemTitles = document.querySelectorAll('.item--title');
                const itemTitle = itemTitles[itemTitles.length - 1];
                if (itemTitle.value === null || itemTitle.value === '') {
                    const items = document.querySelectorAll('.item');
                    items[items.length - 1].remove();
                }
                itemTitle.setAttribute('disabled', true);
                itemTitle.style.border = 'none';
                itemTitle.style.backgroundColor = 'transparent';
                thisElement.classList.remove('fa-check');
                thisElement.classList.add('fa-plus-circle');
            }
        });
        const deleteBtns = document.querySelectorAll('.fa-trash-alt');
        items.addEventListener('click', e => {
            if (e.target.classList.contains('fa-trash-alt')) {
                if (e.target.classList.contains('fa-trash-alt')) {
                    const itemToDelete = e.target.closest('.item');
                    if (itemToDelete) {
                        itemToDelete.remove();
                    }
                }
            }
        });

        window.addEventListener('keydown', e => {
            if (e.keyCode !== 13) {
                e.stopPropagation();
                return;
            }
            itemPlus.click();
        });




        function updateIcon(heartCount) {
            if (heartCount >= 5) {
                document.getElementById("tree").src = "/images/forest.png";
            } else if (heartCount >= 3) {
                document.getElementById("tree").src = "/images/tree.png";
            } else if (heartCount >= 1) {
                document.getElementById("tree").src = "/images/leaves.png";
            } else {
                document.getElementById("tree").src = "/images/sprout.png";
            }

        }
        let heartCount = 0;
        const heart = document.querySelectorAll('ion-icon');
        heart.forEach(icon => {
            icon.addEventListener('click', () => {
                if (icon.classList.contains('active')) {
                    heartCount = heartCount + 1;
                    updateIcon(heartCount);
                    console.log(heartCount);
                } else {
                    heartCount = heartCount - 1;
                    updateIcon(heartCount);
                    console.log(heartCount);
                }
            });


        });

        function move() {
            location.href = "/";
        }
        // 클릭할 때마다 아이콘 업데이트
    </script>

    <script src="/javascripts/storage.js" type="text/javascript"></script>
</body>

</html>