<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>🌳TWOGETHER</title>
    <link rel="stylesheet" href="/stylesheets/scH.css">
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
</head>

<body style="font-size: 22px;">

    <header>
        <div>
            <img src="images/twogether-logo.png" onclick="move()" alt="로고" width="380px" height="140px">
        </div>
        <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=f9a5c956172b9d5f4228f9b7b68540e1"></script>
    </header>
    <nav>
        <ul class="menubar">
            <span class="menu1"> <a href="/">홈</a></span>
            <span class="menu2"> <a href="/map">생태관광지 추천</a></span>
            <span class="menu3"> <a href="/scH">관광 안내소</a></span>
            <span class="menu4"> <a href="/namuGrow">나무 키우기</a></span>
        </ul>
    </nav>

    <div class="box1">
        <div class="box2">
            <div class="searchBox">
                <input type="text" id="sh" placeholder="전국 관광 안내소 검색">
                <input type="button" class="search" type="submit" name="click" value=""><i id="sIcon" class="fas fa-solid fa-magnifying-glass" onclick="searchTourismInfo()"></i></button>
            </div>
            <div class="ntic" id="ntic">
                <div class="table-container">
                    <table>
                        <tr>
                            <th>이름</th>
                            <th>주소</th>
                            <th>홈페이지 주소</th>
                            <th>영업시간</th>
                        </tr>
                        <tbody id="tableBody"></tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
    <script src="/javascripts/trsmic.js"></script>
    <script>
        function move() {
            location.href = "/";
        }
    </script>

</body>

</html>