<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>🌳TWOGETHER</title>
    <link rel="stylesheet" href="/stylesheets/sightSeeing.css">
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
</head>

<body>
    <header>
        <div>
            <img src="/images/twogether-logo.png" onclick="move()" alt="로고" width="380px" height="140px">

        </div>
        <script async src="http://t1.daumcdn.net/mapjsapi/js/main/4.4.14/kakao.js"></script>

    </header>
    <nav>
        <ul class="menubar">
            <span class="menu1"> <a href="/">홈</a></span>
            <span class="menu2"> <a href="/map">생태관광지 추천</a></span>
            <span class="menu3"> <a href="/scH">관광 안내소</a></span>
            <span class="menu4"> <a href="/namuGrow">나무 키우기</a></span>
        </ul>
    </nav>
    <div id="image-box">
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
    </div>
    <div id="placeInfo"> </div>
    <script type="application/json" src="/javascripts/tour.js">
    </script>
    <script>
        const urlParams = new URLSearchParams(window.location.search);
        const variableValue = urlParams.get('variable');
        console.log(variableValue);
        // URL 파라미터에서 areaCodeInput 값을 읽어옴
        /*
                $(document).ready(function() {
                    $.ajax({
                        type: 'GET',
                        url: 'https://localhost:3000/map',
                        dataType: 'json',
                        success: function(response) {
                            const areadata = response.areadata;
                            console.log(areadata);

                            getPlaceByAreaCode(areadata);
                        },
                        error: function() {
                            console.log('Error');
                        }
                    });
                });
        */
        const apiUrlBase = "http://apis.data.go.kr/B551011/GreenTourService1/areaBasedList1";
        const queryParams = "numOfRows=1&MobileOS=ETC&MobileApp=App&_type=json&arrange=O&serviceKey=iPOcFKrhHgswObtTYryGrWDTZq4ck8a%2FGIYMAjRBDVO3DnY2O70fCDzT4Dzj2IWMSdJCb7%2F%2BMsO52yqttO72Zw%3D%3D";

        const boxClassNames = [".box", ".box", ".box", ".box", ".box", ".box"];

        // 박스 안에 관광지 정보 표시
        function getPlace(apiUrlWithPageNo, boxClass) {
            fetch(apiUrlWithPageNo)
                .then(response => response.json())
                .then(data => {
                    const box = document.querySelector(boxClass);
                    box.innerHTML = "";
                    box.className = data.response.body.items.item[0].addr;
                    box.style.backgroundColor = "white";
                    box.style.border = " #E9f1E5 solid 40px";
                    box.style.borderRadius = " 20 px";
                    box.style.fontSize = " 10 px";
                    box.style.color = "#000000";

                    const title = document.createElement("div");
                    title.textContent = data.response.body.items.item[0].title;
                    title.className = data.response.body.items.item[0].title;
                    title.style.fontSize = "30px";
                    title.style.textAlign = "center";
                    title.style.lineHeight = "40px";
                    title.style.fontWeight = "bold";
                    title.style.margin = "30px";
                    title.style.color = "#42855B"

                    //const mainimage = document.createElement("div");
                    //mainimage.innerHTML = `<div><img src ="${data.response.body.items.item[0].mainimage}" style: "width:50px; height:20px"></div>`;
                    //mainimage.style.width = "50px";
                    //mainimage.style.height = "10px";

                    const addr = document.createElement("div");
                    addr.textContent = "📌 " + data.response.body.items.item[0].addr;
                    addr.style.fontSize = "20px";
                    addr.style.fontWeight = "bold";
                    addr.style.margin = "10px";

                    const summary = document.createElement("div");
                    const originalSummary = data.response.body.items.item[0].summary;

                    summary.style.fontSize = "20px";

                    // 최대 10줄까지 표시
                    const maxLines = 10;
                    const summaryLines = originalSummary.split("\n");
                    if (summaryLines.length <= maxLines) {
                        // 10줄 이하인 경우 전체 내용 표시
                        summary.textContent = originalSummary;
                    } else {
                        // 10줄을 넘는 경우 생략 부호 포함하여 10줄까지만 표시
                        summary.textContent = summaryLines.slice(0, maxLines).join("\n") + " (...)"; // 생략 부호 추가
                    }
                    summary.style.whiteSpace = "pre-line"; // 텍스트가 여러 줄로 표시되도록 설정
                    summary.style.overflow = "hidden"; // 내용이 넘칠 경우 숨김 처리
                    summary.style.maxHeight = "35em"; // 최대 높이 지정
                    // html 태그 보여지는 현상 삭제
                    function removeHtmlTags(input) {
                        return input.replace(/<\/?[^>]+(>|$)/g, "");
                    }

                    // HTML 태그 제거
                    const cleanedSummary = removeHtmlTags(originalSummary);
                    summary.textContent = cleanedSummary;

                    box.appendChild(title);
                    //box.appendChild(mainimage);
                    box.appendChild(addr);
                    box.appendChild(summary);
                })
                .catch(error => console.log("fetch 에러:", error));
        }


        function getPlaceByAreaCode(receivedVariable) {
            boxClassNames.forEach((boxClass, index) => {
                const apiUrlWithPageNo = `${apiUrlBase}?${queryParams}&pageNo=${index + 1}&areaCode=${receivedVariable}`;
                getPlace(apiUrlWithPageNo, boxClass);
            });
        }

        getPlaceByAreaCode(variableValue);

        function move() {
            location.href = "/";
        }
        $(".box").click(function() {
            var addrdata = $(this).attr('class');
            var titledata = $(this).attr('class');

            console.log(addrdata);
            const variableValue2 = addrdata;
            fetch(`/get-variable2?variable2=${encodeURIComponent(variableValue2)}`)
                .then(response => response.json())
                .then(data => {
                    window.location.href = `/placeInfo?variable2=${encodeURIComponent(data.variable2)}`;
                })
                .catch(error => {
                    console.error('변수 값을 가져오는 중 오류 발생:', error);
                });
        });
    </script>

</body>

</html>