div{
    text-align: left;
}

body {
    margin: 0;
}

body {
    font-family: 'Noto Sans KR', monospace;
}


.menubar {
    display: flex;
    width: 97%;
    margin: 10px;
    padding: 10px;
    font-family: 'Noto Sans KR', monospace;
    text-align: center;
    flex-direction: row;
    background-color: rgba(144, 184, 124, 0.2);
    border-radius: 60px;
}

.menu1{
    display: flex;
    width: 100%;
    margin: 10px;
    padding: 10px;
    font-family: 'Noto Sans KR', monospace;
}

.menu2{
    display: flex;
    width: 100%;
    margin: 7px;
    padding: 15px;
    font-family: 'Noto Sans KR', monospace;
}

.menu3{
    display: flex;
    width: 100%;
    margin: 7px;
    padding: 15px;
    font-family: 'Noto Sans KR', monospace;
}

.menu4{
    display: flex;
    width: 100%;
    margin: 7px;
    padding: 15px;
    font-family: 'Noto Sans KRg', monospace;
}

.menu-item {
    padding: 10px;
    cursor: pointer;
}

.menu-item a {
    text-align: center;
    text-decoration: none;
    color: rgba(115, 146, 100, 1.0);
}

.image-box {
    border: 1px solid #000000;
    width: 400px;
    height: 800px;
    padding: 10px;
    margin: 10px;
}

#image-box > div {
    float: left;
    width: 300px;
    height: 900px;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    margin: 50px;
    padding: 50px;
}

#image-box::after {
    content: "";
    display: block;
    clear: both;
}

.box1 {
    background-color: rgba(66, 133, 91, 0.7);
    font: 10px Noto Sans KR;
    color: #FFFFFF;
}

.box2 {
    background-color: rgba(66, 133, 91, 0.7);
    font: 10px Noto Sans KR;
    color: #FFFFFF;
}

.box3 {
    background-color: rgba(66, 133, 91, 0.7);
    font: 10px Noto Sans KR;
    color: #FFFFFF;
}

.button1 {
    border: 0;
    background-color:#90B77D;
    border-radius: 30px;
    font: 17px Noto Sans KR;
    color: #FFFFFF;
    width: 160;
    height: 50;
    margin: 10px;
}

.button2 {
    all: unset;
    margin: 10px;
}

.button2 {
    font: 17px Noto Sans KR;
    color: #90B77D;
}